@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9811 0.0054 183.0321);
  --foreground: oklch(0.3416 0.0265 180.8610);
  --card: oklch(0.9811 0.0054 183.0321);
  --card-foreground: oklch(0.2167 0.0015 197.0424);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2641 0.0182 184.4431);
  --primary: oklch(0.7403 0.1829 148.1838);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9234 0.0144 180.6863);
  --secondary-foreground: oklch(0.4303 0.0167 185.3093);
  --muted: oklch(0.9338 0.0168 178.2591);
  --muted-foreground: oklch(0.6046 0.0073 185.1331);
  --accent: oklch(0.9234 0.0144 180.6863);
  --accent-foreground: oklch(0.2641 0.0182 184.4431);
  --destructive: oklch(0.2167 0.0015 197.0424);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8835 0.0066 185.2521);
  --input: oklch(0.7592 0.0148 185.8278);
  --ring: oklch(0.7403 0.1829 148.1838);
  --chart-1: oklch(0.6685 0.1684 149.1036);
  --chart-2: oklch(0.7777 0.1115 33.9884);
  --chart-3: oklch(0.8797 0.0288 180.1818);
  --chart-4: oklch(0.9063 0.0257 42.0927);
  --chart-5: oklch(0.6782 0.1762 148.5631);
  --sidebar: oklch(0.9646 0.0075 186.8921);
  --sidebar-foreground: oklch(0.3571 0.0041 196.9738);
  --sidebar-primary: oklch(0.7403 0.1829 148.1838);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9234 0.0144 180.6863);
  --sidebar-accent-foreground: oklch(0.3250 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2666 0.0029 196.9809);
  --foreground: oklch(0.8063 0.0149 180.6039);
  --card: oklch(0.2666 0.0029 196.9809);
  --card-foreground: oklch(0.9811 0.0054 183.0321);
  --popover: oklch(0.3072 0.0028 197.0091);
  --popover-foreground: oklch(0.9196 0.0032 197.1004);
  --primary: oklch(0.7307 0.1532 149.3610);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9811 0.0054 183.0321);
  --secondary-foreground: oklch(0.3072 0.0028 197.0091);
  --muted: oklch(0.2200 0.0031 196.9340);
  --muted-foreground: oklch(0.7679 0.0158 186.5678);
  --accent: oklch(0.2209 0.0077 182.2010);
  --accent-foreground: oklch(0.9646 0.0075 186.8921);
  --destructive: oklch(0.8348 0.2502 142.9227);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3582 0.0081 196.7987);
  --input: oklch(0.4311 0.0104 187.7411);
  --ring: oklch(0.7900 0.1785 148.7678);
  --chart-1: oklch(0.6685 0.1684 149.1036);
  --chart-2: oklch(0.7777 0.1115 33.9884);
  --chart-3: oklch(0.2209 0.0077 182.2010);
  --chart-4: oklch(0.3339 0.0377 29.2977);
  --chart-5: oklch(0.6782 0.1762 148.5631);
  --sidebar: oklch(0.2368 0.0035 164.7466);
  --sidebar-foreground: oklch(0.8063 0.0149 180.6039);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.2167 0.0015 197.0424);
  --sidebar-accent-foreground: oklch(0.8063 0.0149 180.6039);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
